.banner {
    background-color:#102d35;
    color: white;
    padding: 5px 10px;
}
.banner-head{
    font-size: 2.4em;
}
.banner .logout{
    text-decoration: underline;
    cursor: pointer;
} 

.footer {
    background-color:#102d35;
    color: white;
    padding-top: 5px;
}

.footer a,.footer a:VISITED {
    color: white;	
}

.sidebar a,.sidebar a:VISITED {
    color: black;
    text-decoration: none;
}

.sidebar-fn{
    cursor: pointer;
}


.head1{
    font-size: large;
}
.head2{
    font-size: medium;
}

.row-title .z-label{
    font-weight: bold;
    color:#636363;
}

.fn-caption .z-caption-l{
    font-weight: bold;
    font-size: medium;
    color: #636363;
}

.complete-todo .z-label{
    text-decoration: line-through;
}

.returned-task .z-listcell {
    background: rgb(252, 183, 158);
}
.returned-task .z-listitem-focus {
    background: rgb(252, 183, 158) !important;
}

.returned-task .z-listcell :hover {
    background: rgb(255, 154, 118);
}
.returned-task .z-listitem-focus :hover {
    background: rgb(255, 154, 118);
}

.warn{
    color:red;
}

.demo-main a,.demo-main a:VISITED{
    color:#636363;
    text-decoration: underline;
    font-size: smaller;	
}

.todo-box {
    padding-right:4px;
}

.addCashBtn {
    float: right;
}

.z-scrollbar.z-scrollbar-vertical {
    width: 7px;
    .z-scrollbar-up, .z-scrollbar-down,
    .z-scrollbar-icon, .z-scrollbar-rail {
        display: none;
    }
    .z-scrollbar-wrapper {
        top: 0;
        .z-scrollbar-indicator {
            width: 7px;
            background-image: none;
            background-color: #999;
            border: 0;
            border-radius: 0;
        }
        .z-scrollbar-rail {
            background-color: transparent;
        }
    }
}

.myfon, .z-window-content {
    background: #F2F5F8 url("/imgs/noise.png") !important;
}

.z-grid-autopaging .z-row-cnt {
    height: 30px;
    overflow: hidden;
}

.pagination {
    display: block !important;
    margin: 10px 0 !important;
}

.-info {
    line-height: 2.3;
    float: right;
}

.tasklink {
    text-decoration: underline;
    cursor: pointer;
    color: dodgerblue;
}