.bann {
    background-color:#102d35;
    color: white;
    padding: 5px 10px;
}
.banner-head{
    font-size: 2.4em;
}
.bann .logout{
    text-decoration: underline;
    cursor: pointer;
} 

.footer {
    background-color:#102d35;
    color: white;
    padding-top: 5px;
}

.footer a,.footer a:VISITED {
    color: white;	
}

.sidebar a,.sidebar a:VISITED {
    color: black;
    text-decoration: none;
}

.sidebar-fn{
    cursor: pointer;
}


.head1{
    font-size: large;
}
.head2{
    font-size: medium;
}

.row-title .z-label{
    font-weight: bold;
    color:#636363;
}

.fn-caption .z-caption-l{
    font-weight: bold;
    font-size: medium;
    color: #636363;
}

.complete-todo .z-label{
    text-decoration: line-through;
}

.z-listbox .returned-task {
    background: rgb(252, 183, 158);
}

.z-listbox .returned-task .z-listcell {
    background: rgb(252, 183, 158);
}

.z-listbox .returned-task :hover {
    background: rgb(255, 154, 118);
    .z-listbox .returned-task .z-listcell {
        background: rgb(255, 154, 118);
    }
}

.warn{
    color:red;
}

.demo-main a,.demo-main a:VISITED{
    color:#636363;
    text-decoration: underline;
    font-size: smaller;	
}

.todo-box {
    padding-right:4px;
}

.addCashBtn {
    float: right;
}

.z-scrollbar.z-scrollbar-vertical {
    width: 7px;
    .z-scrollbar-up, .z-scrollbar-down,
    .z-scrollbar-icon, .z-scrollbar-rail {
        display: none;
    }
    .z-scrollbar-wrapper {
        top: 0;
        .z-scrollbar-indicator {
            width: 7px;
            background-image: none;
            background-color: #999;
            border: 0;
            border-radius: 0;
        }
        .z-scrollbar-rail {
            background-color: transparent;
        }
    }
}

.myfon, .z-window-content {
    background: #F2F5F8 url("/imgs/noise.png") !important;
}

.z-grid-autopaging .z-row-cnt {
    height: 30px;
    overflow: hidden;
}

.pagination {
    display: block !important;
    margin: 10px 0 !important;
}

.-info {
    line-height: 2.3;
    float: right;
}

/*.current-fn .z-row-content {
    font-style: italic;
    color: coral;
    font-size: 14px;
}

.current-fn .z-row-content :hover {
    font-style: italic;
    color: rgb(255, 65, 18);
    font-size: 14px;
}*/

.mylist .z-listbox { background: none repeat scroll 0 0 #FFFFFF;
                     border: 1px solid #CFCFCF; overflow: hidden; 
}

.mylist .z-listitem-seld { background-image: none; }

/* Selected rows with the mouse hovering over them */ .mylist
.overseld, .mylist.overseld, .mylist .z-listitem-over,.mylist
.z-listitem-over-seld { background-image: none;
                        background-color: transparent; }

/* Odd rows in a listbox */ .mylist .odd .mylist .gc,.mylist
.odd,.mylist .z-listbox-odd,.mylist .z-grid-odd .mylist
.z-row-inner,.mylist .z-grid-odd { background: #F4FAFD none
                                       repeat scroll 0 0; }


/* Header and Footer Font and Height */ .mylist
.z-listfooter-cnt, .mylist .z-listheader-cnt { border: 0 none;
                                               color: black; font-family: "Tahoma", verdana, arial, sans-serif;
                                               font-size: 11px; margin: 0; height: 13px; }

/* Cell Height and Font */ .mylist .z-listfooter-cnt, .mylist
.z-listcell-cnt,.mylist .z-listheader-cnt { font-size: 11px;
                                            font-family: "Tahoma", verdana, arial, sans-serif; height: 13px;
}

.mylist .z-listbox-body .z-listcell,.mylist.z-listbox-footer
.z-listfooter { cursor: default; }

.mylist .z-listheader-sort-img { float: left; font-size: 0;
                                 left: 90%; margin-left: auto; margin-right: auto; position:
                                     absolute; }

.mylist .z-listbox-header tr.z-listhead, div.z-listbox-header
tr.z-auxhead {

    background-image: none; background-color: #E0F7BA; color: white;
}


.mylist .z-listbox-header th.z-listheader-sort-over {
    background-image: none; 
}

.enterButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
	background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
	background-color:#3d94f6;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:21px;
	font-weight:bold;
	padding:7px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
.enterButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
	background:-moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
	background-color:#1e62d0;
        color:#ffffff;
        text-decoration:none;
}
.enterButton:active {
	position:relative;
	top:1px;
}

.vlay_main > div:nth-child(2) {
    text-align: center;
}

@font-face {   font-family: a_Empirial; /* тут зададим синоним, который используем далее */   

src: url("font/jxitZMBd.ttf"); /* это случай для IE, как получить .eot - cм. ниже*/ 
/* для прочих (нормальных, дружащих со спецификациями) браузеров */   
src: local("font/jxitZMBd.ttf"), local("font/jxitZMBd.ttf"), /* пытаемся угадать локальное имя шрифта, чтобы браузер мог подгрузить его не скачивая; 
в противном случае придется качать */    
url("font/jxitZMBd.ttf") format("truetype"); /* указываем где лежит шрифт и его тип*/ }

@font-face {   font-family: Trebuchet MS; /* тут зададим синоним, который используем далее */   

src: url("font/TrebuchetMS.ttf"); /* это случай для IE, как получить .eot - cм. ниже*/ 
/* для прочих (нормальных, дружащих со спецификациями) браузеров */   
src: local("font/TrebuchetMS.ttf"), local("font/TrebuchetMS.ttf"), /* пытаемся угадать локальное имя шрифта, чтобы браузер мог подгрузить его не скачивая; 
в противном случае придется качать */    
url("font/TrebuchetMS.ttf") format("truetype"); /* указываем где лежит шрифт и его тип*/ }





HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 100%
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 100%;
}
IMG {
	BORDER:0PX SOLID WHITE;
}
.copyright {
	padding:10px; FONT: 10px Tahoma; COLOR: #c0c0c0;
}
.mini {
	FONT: 10px Tahoma; COLOR: #383838;
}
.text {
	padding:10px; FONT: 12px Tahoma; COLOR: #000000; line-height: 180%;
}
.msg{
	border:1px dashed #8e8e8e;  text-align:center; background-color:#f0f0f0; FONT: 15px Tahoma; COLOR: #000000; line-height: 30px; margin:10px; font-weight: 600;
}
.text_login {
	padding-top:5px;padding-left:5px; FONT: 13px Tahoma; COLOR: #383838; line-height: 180%;
}
.date {
	padding-left:10px; FONT: 15px Tahoma; COLOR: #000000; line-height: 180%;font-weight: 600;
}
.top {
	padding:5px; FONT: 11px Tahoma; COLOR: #000000;
}
.title {
	FONT: 18px Tahoma; COLOR: #383838; font-weight: 600;
}
.form {
	FONT: 15px Tahoma; COLOR: #383838; font-weight: 600;
}
.title1 {
	FONT: 16px Tahoma; COLOR: #0a537e; padding-left:10px;
}

.title_blue {
	FONT: 42px a_Empirial; COLOR: #0a537e; font-weight: 600; padding-left:10px; padding-bottom:10px;
}

.text1 {
	FONT: 12px Tahoma; COLOR: #000;
}
.text3 {
	FONT: 18px Tahoma; COLOR: #ffffff;font-weight: 600;padding-left:10px;padding-right:10px; 
}
.text4 {
	 FONT: 10px Tahoma; COLOR: #000000;
}
.text2 {
	margin-left:15px; FONT: 12px Tahoma; COLOR: #ebe6a6;
}
h3 {
	padding-left:10px; margin-top:-10px; margin-bottom:-10px; FONT: 21px Tahoma; COLOR: #545454; font-weight: 600;
}
.title2 {
	FONT: 25px Trebuchet MS; COLOR: #68c2cd; padding-left:25px;
}
.text123 {
	padding-right:15px; FONT: 20px Tahoma; COLOR: #b1b1b1; font-style: italic;
}
.menu {
	FONT: 14px Tahoma; 
	COLOR: #ffffff;
	text-decoration:none;
	text-align:center;
	height:81px; 
	float:left; 
	line-height: 80px;
	position:relative; 
	padding-left:10px; 
	padding-right:10px;
}
.menu:hover {
	TEXT-DECORATION: none; COLOR: #ffffff; background-color:#061f28; 
}

.link {
	 FONT: 11px Tahoma; COLOR: #e1e3e4;  text-decoration:none;
}
.link:hover {
	TEXT-DECORATION: underline;
}
.login {
	 FONT: 16px Tahoma; COLOR: #fff;  text-decoration:underline;
}
.login:hover {
	TEXT-DECORATION: none;
}
.link2 {
	FONT: 12px Tahoma; COLOR: #383838; text-decoration:underline;
}
.link2:hover {
	TEXT-DECORATION: none;
}
.menu2 {
	padding-left: 15px; padding-right: 15px; FONT: 11px Microsoft Sans Serif; COLOR: #000000; text-decoration:underline;
}
.menu3 {
	padding-left: 15px; FONT: 1px Microsoft Sans Serif; COLOR: #ffffff; text-decoration:underline;
}
input {
	FONT: 11px Verdana; COLOR: #090909; border:1px solid silver; height:18px;
}
a {
	color: #383838; text-decoration:underline;
}
a:hover {
	text-decoration:none;
}

a.button {
	FONT: 16px Trebuchet MS; 
	COLOR: #ffffff; 
	text-decoration:none; 
	font-weight: 600; 
	background: url('pic/button.png'); 
	height:41px; 
	width:182px; 
	display:inline-block;
	text-align:center;
	text-shadow:1px 1px 0px #1f5960;
	line-height: 40px;
}
a.button:hover {
	background: url('pic/button_hover.png'); 
}

a.news_title {
	COLOR: #0a537e; text-decoration:underline; FONT: 13px Trebuchet MS;
}
a.news_title:hover {
	text-decoration:none; color:#383838;
}

a.white {
	COLOR: #ffffff; text-decoration:underline;
}
a.white:hover {
	COLOR: #ffffff; text-decoration:none;
}
input.form_input {
	FONT: 13px Verdana; COLOR: #383838; font-weight: 600; padding-left:10px; height:36px; border:1px solid silver;
}
input.form_input2 {
	FONT: 12px Verdana; COLOR: #383838; font-weight: 600; padding-left:10px; height:25px; border:1px solid silver;
}
input.form_submit {
	FONT: 15px Verdana; COLOR: #383838; font-weight: 600; padding:10px; width:170px; height:40px; border:1px solid silver;
}
input.button {
	FONT: 13px Verdana; COLOR: #ffffff; font-weight: 600; background: url('pic/button.jpg'); height:36px; border:1px solid silver;
}
input.radio {
	COLOR: #090909; padding-right: 18px; border:0px solid silver; height:15px; width:15px;
}