.banner {
    background-color:#102d35;
    color: white;
    padding: 5px 10px;
}
.banner-head{
    font-size: 2.4em;
}
.banner .logout{
    text-decoration: underline;
    cursor: pointer;
} 

.footer {
    background-color:#102d35;
    color: white;
    padding-top: 5px;
}

.footer a,.footer a:VISITED {
    color: white;	
}

.sidebar a,.sidebar a:VISITED {
    color: black;
    text-decoration: none;
}

.sidebar-fn{
    cursor: pointer;
}


.head1{
    font-size: large;
}
.head2{
    font-size: medium;
}

.row-title .z-label{
    font-weight: bold;
    color:#636363;
}

.fn-caption .z-caption-l{
    font-weight: bold;
    font-size: medium;
    color: #636363;
}

.complete-todo .z-label{
    text-decoration: line-through;
}

.z-listbox .returned-task {
    background: rgb(252, 183, 158);
}

.z-listbox .returned-task .z-listcell {
    background: rgb(252, 183, 158);
}

.z-listbox .returned-task :hover {
    background: rgb(255, 154, 118);
    .z-listbox .returned-task .z-listcell {
        background: rgb(255, 154, 118);
    }
}

.warn{
    color:red;
}

.demo-main a,.demo-main a:VISITED{
    color:#636363;
    text-decoration: underline;
    font-size: smaller;	
}

.todo-box {
    padding-right:4px;
}

.addCashBtn {
    float: right;
}

.z-scrollbar.z-scrollbar-vertical {
    width: 7px;
    .z-scrollbar-up, .z-scrollbar-down,
    .z-scrollbar-icon, .z-scrollbar-rail {
        display: none;
    }
    .z-scrollbar-wrapper {
        top: 0;
        .z-scrollbar-indicator {
            width: 7px;
            background-image: none;
            background-color: #999;
            border: 0;
            border-radius: 0;
        }
        .z-scrollbar-rail {
            background-color: transparent;
        }
    }
}

.myfon, .z-window-content {
    background: #F2F5F8 url("/imgs/noise.png") !important;
}

.z-grid-autopaging .z-row-cnt {
    height: 30px;
    overflow: hidden;
}

.pagination {
    display: block !important;
    margin: 10px 0 !important;
}

.-info {
    line-height: 2.3;
    float: right;
}

.current-fn .z-row-content {
    font-style: italic;
    color: coral;
    font-size: 14px;
}

.current-fn .z-row-content :hover {
    font-style: italic;
    color: rgb(255, 65, 18);
    font-size: 14px;
}

//my listbox
.mylist .z-listbox { background: none repeat scroll 0 0 #FFFFFF;
                     border: 1px solid #CFCFCF; overflow: hidden; 
}

.mylist .z-listitem-seld { background-image: none; }

/* Selected rows with the mouse hovering over them */ .mylist
.overseld, .mylist.overseld, .mylist .z-listitem-over,.mylist
.z-listitem-over-seld { background-image: none;
                        background-color: transparent; }

/* Odd rows in a listbox */ .mylist .odd .mylist .gc,.mylist
.odd,.mylist .z-listbox-odd,.mylist .z-grid-odd .mylist
.z-row-inner,.mylist .z-grid-odd { background: #F4FAFD none
                                       repeat scroll 0 0; }


/* Header and Footer Font and Height */ .mylist
.z-listfooter-cnt, .mylist .z-listheader-cnt { border: 0 none;
                                               color: black; font-family: "Tahoma", verdana, arial, sans-serif;
                                               font-size: 11px; margin: 0; height: 13px; }

/* Cell Height and Font */ .mylist .z-listfooter-cnt, .mylist
.z-listcell-cnt,.mylist .z-listheader-cnt { font-size: 11px;
                                            font-family: "Tahoma", verdana, arial, sans-serif; height: 13px;
}

.mylist .z-listbox-body .z-listcell,.mylist.z-listbox-footer
.z-listfooter { cursor: default; }

.mylist .z-listheader-sort-img { float: left; font-size: 0;
                                 left: 90%; margin-left: auto; margin-right: auto; position:
                                     absolute; }

.mylist .z-listbox-header tr.z-listhead, div.z-listbox-header
tr.z-auxhead {

    background-image: none; background-color: #E0F7BA; color: white;
}


.mylist .z-listbox-header th.z-listheader-sort-over {
    background-image: none; }
//my listbox